<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/change_password" >Change Password</a><br>
<a href="/generate_donation_recipt">Generate Donation Recipt</a><br>
<a href="/status_of_fund">status of fund</a><br>
<a href="/verify_user">Verify user </a><br>
<a href="/view_and_verify_org">View and verify org</a><br>
<a href="/approved_org">View approved org</a><br>
<a href="/rejected_org">View rejected org</a><br>
<a href="/view_complaint_send_reply">View Complaint and Send Reply</a><br>
</body>
</html>