{% extends 'admin/home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Change_password_post">
  <table class="table table-bordered table-hover">
    <tr>
      <td>CurrentPassword</td>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <td>ConfirmPassword</td>
      <td><input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button2" id="button2" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
