{% extends 'admin/home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/verify_user_post">
  <table class="table table-bordered table-hover">
    <tr>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info" /></td>
    </tr>
  </table>
  <table class="table table-bordered table-hover">
    <tr>
      <td>Sl.No</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phn No</td>
      <td>Address</td>
    </tr>
      {% for i in data %}
    <tr>
    <td>{{ loop.index }}</td>
      <td>{{i['User_Name']  }}</td>
      <td>{{ i['Mail_Id'] }}</td>
      <td>{{ i['Contact' ]}}</td>
      <td>{{ i[ 'Place']}}<br>
      {{ i['Post'] }}<br>
      {{ i['District'] }}<br>
          {{ i['Pin'] }}</td>

    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}

